@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Reem+Kufi+Ink&display=swap');

header {
    background-color: #305F72;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto; 
}

h1, h2 {
    font-family: 'Reem Kufi Ink', sans-serif;
}

h3{
    font-family: 'Reem Kufi Ink', sans-serif;
    padding: 10px;
    text-align: center;
}

p {
    font-family: 'Inter Tight', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footertopinfo {
    color: white;
    font-family: 'Reem Kufi Ink', sans-serif;
    text-align: center;
}

.main-name {
    font-size: 1.2em;
    text-align: left;
    color: white;
    grid-column: 2/4;
    margin-left: 0px;
    grid-row: 1/2;
}

.secondtitle {
text-align: left;
font-size: .8em;
color: white;
grid-column: 2/5;
margin-left: 0px;
grid-row:2/3;
margin-top: -30px;
}

footer{
    background-color: #8F7338;
    width: 100%;
}

img.fblogo {
    display: block;
    margin-right: -25px;
    margin-left: auto;
    width: 50%;
    grid-column: 4/5;
    grid-row: 1/2; 
    padding-top: 10px;
}

img.linkedinlogo {
    display: block;
    margin-right: -5px;
    margin-left: auto;
    width: 55%;
    grid-column: 5/6;
    grid-row: 1/2; 
    padding-top: 8px;
}

img.logotop {
    display: block;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    padding-top: 5px;
}


nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #011F26;
}

nav {
    grid-column: 6/7;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #AFD1D8
}

nav ul.open {display:block}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #011F26;
    font-family: 'Inter Tight', sans-serif;
}

nav ul li a:hover {
    background-color: #305F72;
    color: white;
}

footer {
    text-align: center;
    color: white;
}

.copyright {
    color: white;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-size: .9em; 

}

.footertopinfo {
    color: white;
}

.footer-title {
    font-size: 1.2em;
    font-family: 'Reem Kufi Ink', sans-serif;
    margin-top: -10px;
}

.info1, .info2, .info3, .info4 {
    font-family: 'Inter Tight', sans-serif;
    font-size: .9em;
}

img.logo-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%; 
    padding-top: 10px;
}

p a {
    text-decoration: none;
    color: white;
    font-family: 'Inter Tight', sans-serif; 
}

p a:hover{
    color: #011F26;
}

.name {
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-size: .9em;
}

.myinfo {
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-size: .8em; 
}

.last {
    color: white;
    font-family: 'Inter Tight', sans-serif;
    text-align: center;
    font-size: .8em; 
    padding-bottom: 10px;
}

.spotlights {
    background-color:#AFD1D8; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

img.gymicon,
img.skiicon,
img.toolicon {
    width: 15%;
    padding-top: 10px;
    margin-bottom: -15px;

}

.sp1, .sp2, .sp3{
    background-color: white;
    width: 80%;
    height: 180px;

}

.sp1,
.sp2,
.sp3{
    margin-top: 20px;
    text-align: center;
    font-size: .7em;
}

section {
    background-color:#AFD1D8;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    font-size: 0.9em;
}



.join {
    background-color: #AFD1D8;
    font-family: 'Reem Kufi Ink', sans-serif;
    color: #011F26;
    border-radius: 15px;
    padding: 15px 17px;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 200px;
    border:none;
}

button:hover {
    color:  #AFD1D8;
    background-color: #011F26;
}

a {
    text-decoration: none;
    color: #011F26;
}

a:hover {
    color:#AFD1D8
    background-color #011F26;
    text-decoration: none;
}

.hero {
    margin-top: 10px;
}

section.newsrelease {
    height: 200px;
}

.welcometext {
    position: absolute;
    left: 70px;
    top: 100px;
    font-size: 2.2em;
}

.helenacitypic {
    width: 100%;
    height: 175px;
}

.sidebar {
    height: 100%;
    width: 120px;
    position: absolute;
    background-color: #AFD1D8;
}

.sidebar p {
    padding: 5px;
    font-size: 15px;
    display: block;
    font-family: 'Reem Kufi Ink', sans-serif;
    color: #011F26;
}

.picturesmt p {
    margin-left: 40px;
}

.picturesmt img {
    max-width: 70%;
    height: auto;
}

.picturesmt figure {
    margin-right:-40px;
}

figcaption {
    margin-left: 140px;
    margin-right: 5px;
    max-width: 40%;
    font-family: 'Inter Tight', sans-serif;
    text-align: center;
}

/*----FORM-----*/

fieldset {
    margin: 1rem 0;
    border: 1px solid #06425C;
    border-radius: 15px;
    padding: 0.5rem 2%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  form {
    margin-top: -10px;
    font-family: 'Reem Kufi Ink', sans-serif;
  }
  
  form legend {
    background-color: #06425C;
    width: 100%;
    color: white;
    font-size: 1.2em;
    border-radius: 15px;
    padding: 8px;
  }
  
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #06425C;
    font-size: .8rem;
  }
  
  form label.top input, form label.top select, input#keyphrase, input#keyphrase2 {
    -webkit-appearance: none;
    display: block;
    font-size: .8rem;
    border: solid 1px grey;
    border-radius: 4px;
    padding: 0.45rem;
    color: #555;
    width: 70%;
    max-width: 20rem;
    background-color: #dcdcdc;
  }
  
  form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
  }
  
  input.submitBtn {
    border: none;
    background-color: rgb(6, 66, 92);
    color: white;
    border-radius: 0.75rem;
    padding: 10px;
    margin-top: 30px;
    width: 80%;
    max-width: 20rem;
  }
  
  input.joinchamberBtn {
    border: none;
    background-color: rgb(6, 66, 92);
    color: white;
    border-radius: 0.75rem;
    padding: 10px;
    margin-bottom: 30px;
    width: 80%;
    max-width: 15rem;
    margin-left: 85px;
  }
  
  input.joinchamberBtn:hover {
    background-color: #dcdcdc;
    color: #06425C;
    width: 90%;
  }
  
  #r {
      margin-bottom: 0;
      padding-bottom: 0;
      width: 80%;
  }
  
  .ratinglabels {
      font-size: 0.8rem;
      margin: 0 0 1rem 1.1rem;
  }
  
  #rating {
      color: #06425C;
  }
  
  input[type="radio"] {
      position: relative;
      caret-color: rgba(0, 0, 0, 0);
  }
  
  .ratinglabels {
      display: flex;
      justify-content: space-around;
  width: 93%
  }
  
  .ratevalue {
      margin: 0;
      flex: 1 1 auto;
  }
  
  div.membershipinfo {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  p.memberinfo {
    padding: 10px;
  }