@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
nav,
header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
    font-family: "Poppins";
}

main {
  padding-bottom: 20px;
}

nav {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: 1.5em;
}

.menu {
  display: flex;
  margin-right: 0px;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	background: #f7f7f7;
	z-index: 10;
	overflow: hidden;
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}
.menu a {
	text-decoration: none;
	width: 12rem;
	padding: 1rem;
	color: #72739f;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 0.5s ease-in-out;
}

.menu  a:hover,
.menu:first-child a {
	color: #06425C;
}

a.menu-item {
	display: none;
}

a.open {
	display: flex;
}

.close::before {
	content: "Close ";
}

a {
  color: #06425C;
  text-decoration: none;
}

img#hm {
    color: white;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;

}

  img {
    max-width: 55%;
    margin-left: 30px;
  }

h1{
    color: white;
    padding: 15px;
    font-size: 2em;
}

h2{
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

h3{
    color: white;
    background-color: #06425C;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px;
}

p {
  padding-left: 35px;
}

.coc {
  padding-left: 35px;
  text-decoration: underline;
}

a:hover {
  color: #fae588 !important;
}

h2,
h4,
h5,
h6 {
  color: black;
  margin-bottom: 0;
  padding: 15px;
}
header {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 1em;
    align-items: center;
    background-color: #06425C;  
}
ul {
    font-family: "Poppins";
  }

  li {
    list-style-type: none;
    text-decoration: none;
  }

  li a {
    text-decoration: underline;
  }

  .card,
  .card2,
  .card3 {
    max-width: 80%;
    text-align: left;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 5px rgba(0.2,0.2,0.2,0.2);
    padding-bottom: 15px;
  }

footer{
    padding: 20px;
    background-color: #06425C; 
    color: white;  
    text-align: center;
}

.highlight {
    color: #fae588;
}

.hero {
	margin: 10px auto;
	position: relative;
}

.hero img {
  object-fit: cover;
  margin-left: 55px;
  height: 200px;
  margin-right: auto;
  max-width: 100%;
}

.herolabel {
  position: absolute;
  top: 15px;
  left: 60px;
  border: 1px solid rgba(0,0,0,.75);
  padding: 0.3rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;

}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: .8rem;
}