@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
nav,
header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
    font-family: "Poppins";
}

main {
  padding-bottom: 20px;
}

nav {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: 1.5em;
}

a {
  color: #06425C;
  text-decoration: none;
}

img.hm {
    color: white;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;

}

  img {
    max-width: 55%;
    margin-left: 30px;
  }

h1{
    color: white;
    padding: 15px;
    font-size: 2em;
}

h2{
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

h3{
    color: white;
    background-color: #06425C;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px;
}

p {
  padding-left: 35px;
}

.coc {
  padding-left: 35px;
  text-decoration: underline;
}

a:hover {
  color: #fae588;
}

h2,
h4,
h5,
h6 {
  color: black;
  margin-bottom: 0;
  padding: 15px;
}
header {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 1em;
    align-items: center;
    background-color: #06425C;  
}
ul {
    font-family: "Poppins";
  }

  li {
    list-style-type: none;
    text-decoration: underline;
  }

  .card {
    max-width: 80%;
    text-align: left;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 5px rgba(0.2,0.2,0.2,0.2);
    padding-bottom: 15px;
  }

footer{
    padding: 20px;
    background-color: #06425C; 
    color: white;  
    text-align: center;
}

.highlight {
    color: #fae588;
}